// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

@import"colors";

$primary:       #007bff;
$secondary:     #4caf50;
$success:       #4caf50;

$font-family-sans-serif: "Open Sans", "Helvetica", "Arial", sans-serif;
$font-family-headings: "Montserrat", "Helvetica", "Arial", sans-serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$navbar-dark-color:                 rgba($white, .75);
$navbar-dark-hover-color:           rgba($white, 1);