@import "colors";

$font-family-sans-serif: "Open Sans", "Helvetica", "Arial", sans-serif;
$font-family-headings: "Montserrat", "Helvetica", "Arial", sans-serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$headings-font-family:        $font-family-headings !default;
$headings-font-weight:        700 !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1300px
) !default;

$font-size-base:              1.05rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                ($font-size-base * 1.25) !default;
$font-size-sm:                ($font-size-base * .875) !default;

$h1-font-size:                $font-size-lg * 2.5 !default;
$h2-font-size:                $font-size-lg * 2 !default;
$h3-font-size:                $font-size-lg * 1.75 !default;
$h4-font-size:                $font-size-lg * 1.5 !default;
$h5-font-size:                $font-size-lg * 1.25 !default;
$h6-font-size:                $font-size-lg !default;

$card-spacer-x:               3em;
$border-radius:               .25rem !default;
